#code here is to explain pop growth and decline of rabbits wolves and other creatures and foiliage

#the base formula is I = rN (K - N / K)
#I = population at end of cycle.(yearly) this figure may be setup to be daily change but to do so will add other variables unaccounted for in this formula
#r = birth rate increase with prosperity and decreased with lack of prosperity
#N = base population is the starting population in an area this should be close to the carry capacity (K) 
#K = carrying capacity this number can be extremely large and is difined by Area and availble food sources and home locations
# prosperity is the accumaltion of anyting that increases quality of life for the subject



#a general term will be changed to something more appropriate later on
#but will define food availability for rabbits. a base number =  %100 will mean every rabbit will have food %200 means the same as we wont force feed the rabbits
#%50 will mean only half the rabbits will have food leading to a famine. and the %50 of rabbits will have to go through a formula to see survival rate. for later versions
#defined through 0.0-1.0
rabbit_food_abundance= 1.0

#area something sqr needs to be imput
Area1= 60.0**2.0


#this will substitute r in above formula
rabbit_birth_rate= 0.8

#this will substitute N in above formula
rabbit_base_pop= 1600.0

#this will substitute K in above formula
rabbit_carry_capacity= (Area1 * rabbit_food_abundance)/2.0

#this will need to become something based on wolves hunting on rabbits in future
rabbit_deaths= rabbit_base_pop * 0.15

#this accounts for I in formula add at end Hunted rabbits or rabbits deaths.
rabbit_population_actual= rabbit_birth_rate * rabbit_base_pop * (rabbit_carry_capacity - rabbit_base_pop / rabbit_carry_capacity) - rabbit_deaths

print(rabbit_population_actual)
print(rabbit_food_abundance)
print(rabbit_carry_capacity)


